h1{
    text-align: center;
}

.calcBody{
    display: flex;
    background-color: blue;
    margin: auto;
    width: 256px;
    height: 512px;
    flex-wrap: wrap;
    border-radius: 5%;
    border: 10px solid blue;
}

.screen{
    display: flex;
    width: 100%;
    height: 128px;
    background-color: darkgray;
    border-radius: 5%;
    align-items: center;
    justify-content: end; 
    font-size: xxx-large;
    padding:0 24px;

}

.buttons{
    width: 64px;
    height: 64px;
    margin: 0;
    font-size: large;
}

.errors{
    background-color: white;
    margin: 24px;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: x-large;
}